.incExpButton {
    border: 0;
}

.incomeOff {
    background-color: rgba(light-dark(
        var(--mantine-color-blue-6),
        var(--mantine-color-blue-5),
    ), 0.5);
}
.incomeOff:hover, .incomeOn, .incomeOn:hover {
    background-color: light-dark(
        var(--mantine-color-blue-6),
        var(--mantine-color-blue-5),
    );
}

.expenseOff {
    background-color: rgba(light-dark(
        var(--mantine-color-red-6),
        var(--mantine-color-red-5),
    ), 0.5);
}
.expenseOff:hover, .expenseOn, .expenseOn:hover {
    background-color: light-dark(
        var(--mantine-color-red-6),
        var(--mantine-color-red-5),
    );
}

