table.clickable-table > tbody > tr:hover {
    cursor: pointer;
}

.h1-link:hover {
    cursor: pointer;
}

#all_accounts {
    font-size: 1.3rem;
}

#all_accounts .modal {
    font-size: 1rem;
}

.tightrow {
    padding-left: -2px;
    padding-right: -2px;
}
.tightcol {
    padding-left: 2px;
    padding-right: 2px;
}