.h1-link:hover {
    cursor: pointer;
}

#all_accounts {
    font-size: 1.3rem;
}

#all_accounts .modal {
    font-size: 1rem;
}

.tightrow {
    padding-left: -2px;
    padding-right: -2px;
}
.tightcol {
    padding-left: 2px;
    padding-right: 2px;
}

/* https://stackoverflow.com/questions/26983301/how-to-make-a-table-column-be-a-minimum-width */
td.min {
    width: 1px;
    white-space: nowrap;
}
td.long {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.color-form-control {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.color-form-control::-webkit-color-swatch-wrapper {
    padding: 0; 
}
.color-form-control::-webkit-color-swatch {
    border-radius: 0.25rem;
}