.h1-link:hover {
    cursor: pointer;
}

#all_accounts {
    font-size: 1.3rem;
}

#all_accounts .modal {
    font-size: 1rem;
}

.tightrow {
    padding-left: -2px;
    padding-right: -2px;
}
.tightcol {
    padding-left: 2px;
    padding-right: 2px;
}

/* https://stackoverflow.com/questions/26983301/how-to-make-a-table-column-be-a-minimum-width */
td.min {
    width: 1px;
    white-space: nowrap;
}
td.long {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}