{% extends "main/layout.j2" %}
{% import "main/trans_modal.j2" as trans_modal %}
{% import "main/changes.j2" as change_macros %}

{% block body %}
<div class="row">
    <div class="col-9">
        <h1 class="display-4">{{ account.desc }}</h1>
    </div>
    <div class="col-3">
        <button class="btn btn-primary btn-lg btn-block">Edit</button>
    </div>
</div>

<h2>{{ account.currency.code }} {{ saldo }}</h2>
<p class="lead">Started at: {{ account.date_created.strftime('%x') }} with {{ account.currency.code}} {{ account.starting() }}</p>

<button type="button" class="btn btn-primary btn-lg mb-2 toggler" data-info="new{{ account.id }}"
    data-toggle="modal" data-target="#transModal">
    New Transaction
</button>
<!-- Modal -->
<!-- defined in included trans_modals.j2 -->
{{ trans_modal.modal(accounts, agents, categories, currencies) }}

<table class="table table-hover">
    <caption><a href="{{ url_for('main.account_transactions', account_id=account.id) }}">More...</a></caption>
    {{ change_macros.head() }}
    <tbody>
        {{ change_macros.rows(last_5, account) }}
    </tbody>
</table>

<a href="{{ url_for('main.account_plot', account_id=account.id) }}">
    <img src="{{ url_for('main.account_plot', account_id=account.id) }}" class="img-fluid img-thumbnail mb-2" alt="Responsive image">
</a>

<form action="{{ url_for('main.account_analysis', account_id=account.id) }}">
    <button type="submit" class="btn btn-primary btn-lg btn-block mb-5">Analysis</button>
</form>

{% endblock %}