{% extends "main/layout.html" %}

{% block body %}

<h1 class="display-2">Accounts</h1>

<table class="table table-hover clickable-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Account</th>
            <th scope="col">Date of Creation</th>
            <th scope="col">Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for i, account in accounts %}
        <tr onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
            <th scope="row">{{ i }}</th>
            <td>{{ account.desc }}</td>
            <td>{{ account.date_created.strftime('%d.%m.%Y') }}</td>
            <td>{{ account.currency() }} {{ account.saldo() }}</td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}