{% extends "main/layout.jinja" %}
{% import "main/macros.jinja" as macros %}

{% block body %}

<h1 class="display-4r h1-link" 
    onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
{{ account.desc }}
</h1>

<table id="transtable" class="table table-hover clickable-table" cellspacing="0" width="100%">
    {{ macros.trans_table_head() }}
    <tbody>
        {{ macros.trans_table_forloop(transactions, account, formatted) }}
        <tr>
            <td>{{ account.date_created.strftime('%d.%m.%Y') }}</td>
            <td>00:00</td>
            <td>  </td>
            <td>  </td>
            <td style="text-align: right;">{{ account.currency() }} {{ formatted(account.starting_saldo) }}</td>
            <td>  </td>
            <td>  </td>
        </tr>
    </tbody>
</table>

<script>
$(document).ready(function () {
$('#transtable').DataTable({
"scrollY": "65vh",
"scrollCollapse": true,
});
$('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}