{% extends "main/layout.jinja" %}

{% block body %}

<h1 class="display-4r">{{ account.desc }}</h1>

<table class="table table-hover clickable-table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">To / From</th>
            <th scope="col">Amount</th>
            <th scope="col">Saldo</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction, saldo in transactions %}
        <tr onclick="document.location = `{{ url_for('main.transaction', transaction_id=transaction.id) }}`;">
            <td>{{ transaction.date_issued.strftime('%d.%m.%Y') }}</td>
            <td>{{ transaction.date_issued.strftime('%H:%M') }}</td>
            <td>{{ transaction.agent() }}</td>
            <td style="text-align: right;">{{ account.currency() }} {{ formatted(transaction.amount) }}</td>
            <td style="text-align: right;">{{ account.currency() }} {{ saldo }}</td>
            <td>{{ transaction.comment }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ account.date_created.strftime('%d.%m.%Y') }}</td>
            <td>00:00</td>
            <td>  </td>
            <td>  </td>
            <td style="text-align: right;">{{ account.currency() }} {{ formatted(account.starting_saldo) }}</td>
            <td>  </td>
        </tr>
    </tbody>
</table>
{% endblock %}