{% extends "main/layout.html" %}

{% block body %}

<div class="row">
    <div class="col-10">
        <h1 class="display-4">{{ account.desc }}</h1>
    </div>
    <div class="col-2">
        <button class="btn btn-primary btn-lg btn-block">Edit</button>
    </div>
</div>

<h2>{{ account.currency() }} {{ account.saldo_formatted() }}</h2>

<button type="button" class="btn btn-primary btn-lg mb-2" data-toggle="modal" data-target="#addTrans{{ account.id }}">
    New Transaction
</button>
<!-- Modal -->

{% include "main/add_trans.html" %}

<table class="table table-hover clickable-table">
    <caption><a href="{{ url_for('main.account_transactions', account_id=account.id) }}">More...</a></caption>
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">To / From</th>
            <th scope="col">Amount</th>
            <th scope="col">Saldo</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction, saldo in last_5 %}
        <tr onclick="document.location = `{{ url_for('main.transaction', transaction_id=transaction.id) }}`;">
            <td>{{ transaction.date_issued.strftime('%d.%m.%Y') }}</td>
            <td>{{ transaction.date_issued.strftime('%H:%M') }}</td>
            <td>{{ transaction.agent() }}</td>
            <td style="text-align: right;">{{ account.currency() }} {{ formatted(transaction.amount) }}</td>
            <td style="text-align: right;">{{ account.currency() }} {{ saldo }}</td>
            <td>{{ transaction.comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<img src="{{ url_for('main.account_plot', account_id=account.id) }}" class="img-fluid img-thumbnail mb-2" alt="Responsive image">

<form action="{{ url_for('main.account_analysis', account_id=account.id) }}">
    <button type="submit" class="btn btn-primary btn-lg btn-block mb-5">Analysis</button>
</form>

{% endblock %}