{% macro head() %}
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:20%">
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:30%">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">To / From</th>
            <th style="text-align: right;" scope="col">Amount</th>
            <th style="text-align: right;" scope="col">Saldo</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% endmacro %}

{% macro rows(changes, account) %}
{% for ch in changes %}
    <tr>
        <td data-sort="{{ ch.date_issued.strftime('%Y%m%d%H%M%s') }}">
            {{ ch.date_issued.strftime('%d.%m.%Y') }}
        </td>
        <td>{{ ch.date_issued.strftime('%H:%M') }}</td>
        <td>
            {% if ch.transfer %}
                <a href="{{ url_for('main.account', account_id=ch.agent_id) }}"
                    class="text-primary">
            {% else %}
                <a href="{{ url_for('main.agent', agent_id=ch.agent_id) }}"
                    class="text-info">
            {% endif %}
                {{ ch.agent }}</a>
        </td>
        <td style="text-align: right;"  
            data-sort="{% if ch.is_expense %}{{ ch.amount }}{% else %}{{ -ch.amount }}{% endif %}"
            {% if ch.is_expense %}
                class="text-danger"
            {% else %}
                class="text-success"
            {% endif %}>
            {{ account.currency.format(ch.amount) }} {{ account.currency.code }}
        </td>
        <td style="text-align: right;"  
            data-sort="{{ saldo }}">
            {{ ch.saldo() }} {{ account.currency.code }}
        </td>
        <td>{{ ch.comment }}</td>
        <td style="width: 44px; padding: 0px;">
            <button type="button" class="btn btn-warning btn-lg toggler"
                style="height: 100%; width: 100%;" data-toggle="modal" 
                data-info="{% if ch.transfer %}transferEdit{% else %}edit{% endif %}{{ch.id}}"
                data-target="{% if ch.transfer %}#transferModal{% else %}#transModal{% endif %}">
                <i class="fa fa-pencil"></i>
            </button>
        </td>
    </tr>
{% endfor %}
{% endmacro %}