{% extends "main/layout.j2" %}
{% block head %}
    <script src = "https://d3js.org/d3.v6.min.js"></script>
{% endblock head %}
{% block body %}

    <div id="container"></div>

    <script src="{{ url_for('static', filename='js/d3.js')}}"
        data-year="{{year}}" data-month="{{month}}"></script>

    <script src="{{ url_for('static', filename='js/sb.js')}}"></script>
{% endblock body %}