{% extends "main/layout.j2" %}
{% import "main/trans_modal.j2" as trans_modal %}
{% import "main/transfer_modal.j2" as transfer %}

{% macro data(account) %}
data-acc_desc="{{ account.desc }}" data-acc_id={{ account.id }}
data-curr_id={{ account.currency.id }} data-curr_dec={{ account.currency.decimals }}
{% endmacro %}

{% block body %}
<h1 class="display-1">Finnance</h1>
<h2 class="display-4">Accounts:</h2>
<table class="table table-hover clickable-table" id="all_accounts">
    <tbody>
        {% for account in accounts %}
        <tr ondragover="allow_drop_color(event, 'rgb(0, 170, 0, 0.5)')" ondragleave="allow_drop_color(event, null)" ondrop="drop(event)"
            {{ data(account) }}>
            <td style="width: 44px; padding: 0px;">
                <div class="bg-info btn-lg transfer" style="height: 100%; width: 100%;"
                  draggable="true" ondragstart="drag(event)"
                  {{ data(account) }}>
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                </div>
            </td>
            <th onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;" 
                scope="row">{{ account.desc }}</th>
            <!-- <td>{{ account.date_created.strftime('%d.%m.%Y') }}</td> -->
            <td onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;" 
                style="text-align: right;">{{ account.currency.code }} {{ account.saldo() }}</td>
            <td style="width: 44px; padding: 0px;">
                <button type="button" class="btn btn-success btn-lg mb-2 toggler" data-toggle="modal"
                    data-info="new{{ account.id }}"
                    data-target="#transModal" style="height: 100%; width: 100%;">+</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "main/transfer_modal.j2" %}
<form action="{{ url_for('main.add_account') }}" class="mb-3">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
</form>
<button type="button" class="btn btn-success btn-lg mb-3 toggler" data-toggle="modal"
    data-target="#transModal" data-info="remote" style="height: 100%; width: 100%;">Remote</button>
<button type="button" class="btn btn-success btn-lg mb-3 toggler" data-toggle="modal"
    data-target="#transModal" data-info="edit1260" style="height: 100%; width: 100%;">edit 1260</button>
{{ trans_modal.modal(agents, categories, currencies, accounts) }}
<script>
function allow_drop_color(ev, col) {
    ev.preventDefault();
    let tr = ev.target;
    while (tr.tagName != "TR") {
        tr = tr.parentNode;
    }
    tr.style["background-color"] = col;
}

function drag(ev) {
    ev.dataTransfer.setData("text/plain", JSON.stringify(ev.target.dataset));
}

function drop(ev) {
    ev.preventDefault();
    let tr = ev.target;
    while (tr.tagName != "TR") {
        tr = tr.parentNode;
    }
    tr.style["background-color"] = null;
    let src_data = JSON.parse(ev.dataTransfer.getData("text/plain"));
    let dst_data = JSON.parse(JSON.stringify(tr.dataset));
    console.log(src_data, dst_data);
    openModal(src_data, dst_data);
}

function openModal(src, dst) {
    if (src.acc_id == dst.acc_id) {
        alert("Can't transfer to itself!");
    } else {
        $('#transferModal form').attr(
            'action',
            "{{ url_for('modal.add_transfer', src_id=-1, dst_id=0) }}".replace('-1', src.acc_id).replace('0', dst.acc_id)
        );
        $('#transferModal input[name=src_desc]').val(src.acc_desc);
        $('#transferModal input[name=dst_desc]').val(dst.acc_desc);
        update_currency('#transferModal input[name=src_amount', src.curr_dec, true);
        update_currency('#transferModal input[name=dst_amount', dst.curr_dec, true);
        if (src.curr_id == dst.curr_id) {
            $('#same_currency').show();
            $('input[name=dst_amount]').attr('readonly', true);
            $('.fa-lock').show();
            $('.fa-unlock').hide();
        } else {
            $('input[name=dst_amount]').attr('readonly', false);
            $('#same_currency').hide();
        }

        $('#transferModal').modal();
    }
}
</script>
{% endblock %}