{% import "main/trans_modal.j2" as trans_modal %}

{% macro trans_table_head() %}
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:20%">
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:30%">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">To / From</th>
            <th style="text-align: right;" scope="col">Amount</th>
            <th style="text-align: right;" scope="col">Saldo</th>
            <th scope="col">Category</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% endmacro %}

{% macro trans_table_forloop(children, redirect_url, account, agents, categories) %}
{% for child in children %}
    <tr>
        <td data-sort="{{child.date_issued.strftime('%Y%m%d%H%M%s') }}">
            {{ child.date_issued.strftime('%d.%m.%Y') }}
        </td>
        <td>{{ child.date_issued.strftime('%H:%M') }}</td>
        <td>{% if child.is_transfer() %}<a href="{{ url_for('main.account', account_id=child.agent_id) }}">{{ child.agent }}</a>{% else %}{{ child.agent }}{% endif %}</td>
        <td style="text-align: right;"  
            data-sort="{% if child.is_expense %}{{ child.amount }}{% else %}{{ -child.amount }}{% endif %}"
            {% if child.is_expense %}
                class="text-danger"
            {% else %}
                class="text-success"
            {% endif %}>
            {{ child.amount }} {{ account.currency.code }}
        </td>
        <td style="text-align: right;"  
            data-sort="{{ saldo }}">
            {{ child.saldo() }} {{ account.currency.code }}
        </td>
        <td><span class="rounded p-1 {% if child.is_transfer() %} bg-info{% endif %}">{{ child.category }}</span></td>
        <td>{{ child.comment }}</td>
        <td style="width: 44px; padding: 0px;">
            {% set id = "{acc}-{tr}".format(acc=account.id, tr=child.id) %}
            <button type="button" class="btn btn-warning btn-lg" style="height: 100%; width: 100%;"
              data-toggle="modal" data-target="{% if child.is_transaction() %}#transModal{% elif child.is_transfer() %}#transferModal{% endif %}{{ id }}" >
                <i class="fa fa-pencil"></i>
            </button>
            <!-- Modal -->
            <!-- defined in included trans_modals.j2 -->
            {% if child.is_transaction() %}{{ trans_modal.modal(account, redirect_url, agents, categories, child) }}{% endif %}
        </td>
    </tr>
{% endfor %}
{% endmacro %}