{% macro lists(accounts, agents) %}
<datalist id="agents">
{% for agent in agents %}
    <option value="{{ agent.desc }}" data-id="{{ agent.id }}"/>
{% endfor %}
</datalist>
<datalist id="accounts">
{% for account in accounts %}
    <option value="{{ account.id }}" data-desc="{{ account.desc }}"
        data-curr_id="{{ account.currency_id }}"
        data-date_created="{{ account.date_created.strftime('%d.%m.%Y %H:%M') }}"/>
{% endfor %}
</datalist>
{% endmacro %}

{% macro customLogic() %}
<script>
const DATE_FMT = "dd.MM.yyyy HH:mm";
const ADD_TRANS_URL = "{{ url_for('modal.add_trans') }}";
const EDIT_TRANS_URL = (id) =>
    "{{ url_for('modal.edit_trans', transaction_id=0) }}".replace('0', id);
const EDITINFO_TRANS_URL = (id) =>
    "{{ url_for('modal.trans_edit_info', transaction_id=0) }}".replace('0', id);
</script>
<script src="{{ url_for('static', filename='js/modal_custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/amounts.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal_submit.js') }}"></script>
{% endmacro %}