{% extends "main/layout.j2" %}
{% import "main/macros.j2" as macros %}

{% block body %}

<h1 class="display-4r h1-link" 
    onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
{{ account.desc }}
</h1>
<p class="lead">Started at: {{ account.date_created.strftime('%x') }} with {{ account.currency.code }} {{ account.starting() }},
Current Saldo: {{ saldo }}</p>

<table id="transtable" class="table table-sm table-hover" cellspacing="0" width="100%">
    {{ macros.trans_table_head() }}
    <tbody>
        {{ macros.trans_table_forloop(transactions, url_for("main.account_transactions", account_id=account.id), account, agents, categories) }}
    </tbody>
</table>

<script>
$(document).ready(function () {
$('#transtable').DataTable();
});
</script>
{% endblock %}