{% macro post(account, redirect_url, agents, categories) -%}
<div class="modal fade" data-backdrop="static" id="addTransModal{{ account.id }}" tabindex="-1" role="dialog" aria-labelledby="addTransLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTransLabel">New Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('main.add_trans', account_id=account.id) }}" id="transactionForm{{ account.id }}" method="post">
                    <input value="{{ account.id }}" name="account_id" type="hidden">
                    <input value="{{ redirect_url }}" name="redirect" type="hidden">
                    <div class="form-group">
                        <label for="account">Account</label>
                        <input class="form-control" type="text" name="account" placeholder="{{ account.desc }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input class="form-control" type="number" name="amount" step="0.01" required>
                    </div>
                    <div class="form-group">
                        <label for="date_issued">Date & Time of Transaction</label>
                        <!-- Date Regex:
                            dd                    mm mit 31 d       yyyy     dd                 mm mit 30 d     dd - 28         feb             y y schaltjahr                        hh
                            ((0[1-9]|[12]\d|3[01]).(0[13578]|1[02]).\d{4}|(0[1-9]|[12]\d|30).(0[469]|11).\d{4}|(0[1-9]|1\d|2[0-8]).02.\d{4}|29.02.\d\d(0[048]|[13579][26]|[2468][048])) ([01]\d|2[0-3]):[0-5][0-9] -->
                        <input class="form-control" type="text" name="date_issued" maxlength=16 
                            pattern="((0[1-9]|[12]\d|3[01]).(0[13578]|1[02]).\d{4}|(0[1-9]|[12]\d|30).(0[469]|11).\d{4}|(0[1-9]|1\d|2[0-8]).02.\d{4}|29.02.\d\d(0[048]|[13579][26]|[2468][048])) ([01]\d|2[0-3]):[0-5][0-9]"
                            required>
                        <small class="form-text text-muted">dd.mm.yyyy hh:mm</small>
                    </div>
                    <div class="form-group">
                        <label for="agent">Agent</label>
                        <input class="form-control" type="text" list="agents" name="agent" required>
                        <datalist id="agents">
                            {% for agent in agents %}
                            <option value="{{ agent.desc }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" name="category">
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{cat.desc}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <input class="form-control" type="text" maxlength=120 name="comment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" form="transactionForm{{ account.id }}" class="btn btn-primary" >Add new Transaction</button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro edit(tr, redirect_url, agents, categories) -%}
<div class="modal fade" data-backdrop="static" id="editTransModal{{ tr.id }}" tabindex="-1" role="dialog" aria-labelledby="editTransLabel{{tr.id}}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTransLabel{{tr.id}}">Edit Transaction #{{tr.id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('main.edit_trans', transaction_id=tr.id) }}" id="transactionForm{{ tr.id }}" method="post">
                    <input value="{{ tr.account.id }}" name="account_id" type="hidden">
                    <input value="{{ tr.id }}" name="id" type="hidden">
                    <input value="{{ redirect_url }}" name="redirect" type="hidden">
                    <div class="form-group">
                        <label for="account">Account</label>
                        <input class="form-control" type="text" name="account" placeholder="{{ tr.account.desc }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input class="form-control" type="number" name="amount" step="0.01" required value="{{ tr.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="date_issued">Date & Time of Transaction</label>
                        <!-- Date Regex:
                            dd                    mm mit 31 d       yyyy     dd                 mm mit 30 d     dd - 28         feb             y y schaltjahr                        hh
                            ((0[1-9]|[12]\d|3[01]).(0[13578]|1[02]).\d{4}|(0[1-9]|[12]\d|30).(0[469]|11).\d{4}|(0[1-9]|1\d|2[0-8]).02.\d{4}|29.02.\d\d(0[048]|[13579][26]|[2468][048])) ([01]\d|2[0-3]):[0-5][0-9] -->
                        <input class="form-control" type="text" name="date_issued" maxlength=16 
                            pattern="((0[1-9]|[12]\d|3[01]).(0[13578]|1[02]).\d{4}|(0[1-9]|[12]\d|30).(0[469]|11).\d{4}|(0[1-9]|1\d|2[0-8]).02.\d{4}|29.02.\d\d(0[048]|[13579][26]|[2468][048])) ([01]\d|2[0-3]):[0-5][0-9]"
                            required value="{{ tr.date_issued.strftime('%d.%m.%Y %H:%M') }}">
                        <small class="form-text text-muted">dd.mm.yyyy hh:mm</small>
                    </div>
                    <div class="form-group">
                        <label for="agent">Agent</label>
                        <input class="form-control" type="text" list="agents" name="agent" required value="{{ tr.agent.desc }}">
                        <datalist id="agents">
                            {% for agent in agents %}
                            <option value="{{ agent.desc }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select class="form-control" name="category" value="{{ tr.category.id }}">
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.desc }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <input class="form-control" type="text" maxlength=120 name="comment" value="{{ tr.comment }}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" form="transactionForm{{ tr.id }}" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}