{% macro modal(account, redirect_url, agents, categories, tr)  %}
{% if tr is none %}{% set edit = False %}{% else %}{% set edit = True %}{% endif %}
{% if edit %}
{% set post_url = url_for('main.edit_trans', transaction_id=tr.id) %}
{% set id = "{acc}-{tr}".format(acc=account.id, tr=tr.id)%}
{% else %}
{% set post_url = url_for('main.add_trans', account_id=account.id) %}
{% set id = "{acc}".format(acc=account.id)%}
{% endif %}
<div class="modal fade" data-backdrop="static" id="transModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="transLabel{{ id }}" aria-hidden>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transLabel{{ id }}">{% if edit %}Edit Transaction #{{tr.id}}{% else %}New Transaction{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ post_url }}" id="transactionForm{{ id }}" method="post">
                    <input value="{{ redirect_url }}" name="redirect" type="hidden">
                    <div class="form-row">
                        <div class="form-group col-md-4 order-md-2">
                            <div class="btn-group btn-group-toggle float-right" data-toggle="expinc">
                                <label class="btn {% if not edit or tr.is_expense %}btn-danger{% else %}btn-light{% endif %}" id="expenseLabel{{ id }}">
                                    <input type="radio" name="expinc" id="expense{{ id }}" value="expense" {% if not edit or tr.is_expense %}checked{% endif %}>Expense
                                </label>
                                <label class="btn {% if edit and not tr.is_expense %}btn-success{% else %}btn-light{% endif %}" id="incomeLabel{{ id }}">
                                    <input type="radio" name="expinc" id="income{{ id }}" value="income" {% if edit and not tr.is_expense %}checked{% endif %}>Income
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-8 order-md-1">
                            <label for="account">Account</label>
                            <input class="form-control" type="text" name="account" placeholder="{{ account.desc }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        {% set min_step = 10 ** (-account.currency.decimals) %}
                        <input class="form-control" type="number" name="amount" min="{{ min_step }}" step="{{ min_step }}" required {% if edit %}value="{{ tr.amount }}"{% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="date_issued">Date & Time of Transaction</label>
                        <input class="form-control" type="text" name="date_issued" maxlength=16 
                            pattern="((0[1-9]|[12]\d|3[01]).(0[13578]|1[02]).\d{4}|(0[1-9]|[12]\d|30).(0[469]|11).\d{4}|(0[1-9]|1\d|2[0-8]).02.\d{4}|29.02.\d\d(0[048]|[13579][26]|[2468][048])) ([01]\d|2[0-3]):[0-5][0-9]"
                            required {% if edit %}value="{{ tr.date_to_fmt() }}"{% endif %}>
                        <small class="form-text text-muted">dd.mm.yyyy hh:mm</small>
                    </div>
                    <div class="form-group">
                        <label for="agent">Agent</label>
                        <input class="form-control" type="text" list="agents{{ id }}" name="agent" {% if edit %}value="{{ tr.agent }}"{% endif %} required>
                        <datalist id="agents{{ id }}">
                        {% for agent in agents %}
                            <option value="{{ agent.desc }}"/>
                        {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group" id="incomeSelect{{ id }}" {% if not edit or tr.is_expense %}style="display:none;"{% endif %}>
                        <label for="inc_category">Category</label>
                        <select class="form-control" name="inc_category">
                        {% for cat in categories %}
                            {% if not cat.is_expense %}
                                <option value="{{ cat.id }}" {% if edit and cat.id == tr.category_id %} selected {% endif %}>{{ cat.desc }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="expenseSelect{{ id }}" {% if edit and not tr.is_expense %}style="display:none;"{% endif %}>
                        <label for="exp_category">Category</label>
                        <select class="form-control" name="exp_category">
                        {% for cat in categories %}
                            {% if cat.is_expense %}
                                <option value="{{ cat.id }}" {% if edit and cat.id == tr.category_id %} selected {% endif %}>{{ cat.desc }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <input class="form-control" type="text" maxlength=120 name="comment" {% if edit %}value="{{ tr.comment }}"{% endif %}>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" form="transactionForm{{ id }}" class="btn btn-primary">{% if edit %}Save{% else %}Add new Transaction{% endif %}</button>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    update_currency('#transModal{{ id }} input[name=amount]', {{ account.currency.decimals }})
})
$('#transactionForm{{ id }} input[type=radio][name=expinc]').change(function() {
    let id = "{{ id }}";
    if (this.id == `expense${ id }`){
        $(`#expenseLabel${ id }`).toggleClass('btn-light btn-danger');
        $(`#incomeLabel${ id }`).toggleClass('btn-success btn-light');
        $(`#incomeSelect${ id }`).hide();
        $(`#expenseSelect${ id }`).show();
    } else if (this.id == `income${ id }`) {
        $(`#expenseLabel${ id }`).toggleClass('btn-danger btn-light');
        $(`#incomeLabel${ id }`).toggleClass('btn-light btn-success');
        $(`#incomeSelect${ id }`).show();
        $(`#expenseSelect${ id }`).hide();
    }
});
</script>
{% endmacro %}