{% extends "main/layout.j2" %}
{% block head %}
    <script src = "https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
{% endblock head %}