{% extends "analysis.j2" %}

{% block body %}
<div class="display-4 mb-2">Categories</div>
<div class="row">
    <div class="col-12" id="legend"></div>
    <div class="col-8" id="wheel"></div>
</div>
{% endblock %}