{% extends "layout.html" %}

{% block body %}
<h1>Transaction <strong>{{ transaction['id'] }}</strong></h1>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            {% for key in transaction.keys() %}
                <th scope="col">{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
            <tr id="{{transaction['id']}}">
                {% for key in transaction.keys() %}
                {% if key=='id'%}
                <th scope="row">{{ transaction[key] }}</th>
                {% else %}
                <td contenteditable="true">{{ transaction[key] }}</td>
                {% endif %}
                {% endfor %}
            </tr> 
    </tbody>
</table>
<button class="btn btn-primary">Save Changes</button>

{% endblock %}