{% extends "layout.html" %}

{% block body %}
<h1>All Transactions</h1>
<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            {% for key in transactions[0].keys() %}
                <th scope="col">{{ key.capitalize() }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for trans in transactions %}
            <tr id="{{trans['id']}}" onclick="location.href=`{{ url_for('edit_trans', id=trans['id'])}}`">
                <a href="{{ url_for('edit_trans', id=trans['id'])}}">
                {% for key in trans.keys() %}
                {% if key=='id'%}
                <th scope="row">{{ trans[key] }}</th>
                {% else %}
                <td>{{ trans[key] }}</td>
                {% endif %}
                {% endfor %}
                </a>
            </tr>
        {% endfor %}    
    </tbody>

</table>

{% endblock %}