{% extends "datatable.j2" %}
{% import "tables.j2" as tables %}

{% block header %}
    <h1 class="display-3 h1-link" 
        onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
    {{ account.desc }}
    </h1>
    <p class="lead">Account Creation: {{ account.date_created.strftime('%d.%m.%y') }}
     with {{ account.currency.code }} {{ account.starting() }},
    Current Saldo: {{ account.currency.code }} {{ account.currency.format(saldos[0]) }}</p>
{% endblock header %}
{% block table_macro %}
    {{ tables.changes_table(account, changes, saldos) }}
{% endblock table_macro %}
