{% macro currency(currencies) %}
<div class="form-group col-6 col-md-4">
    <label for="currency">Currency</label>
    <select class="form-control" name="currency_id">
        <option value="">--</option>
    {% for curr in currencies %}
        <option value="{{ curr.id }}">{{ curr.code }}</option>
    {% endfor %}
    </select>
</div>
{% endmacro %}
{% macro category(categories) %}
<div class="form-group col-6 col-md-4">
    <label for="currency">Category</label>
    <select class="form-control" name="category_id">
        <option value="">--</option>
    {% for cat in categories %}
        <option value="{{ cat.id }}">{{ cat.desc }}</option>
    {% endfor %}
    </select>
</div>
{% endmacro %}
{% macro min() %}
<div class="form-group col-3 col-md-2">
    <label for="min">Min</label>
    <input type="number" class="form-control" name="min" step="any">
</div>
{% endmacro %}
{% macro max() %}
<div class="form-group col-3 col-md-2">
    <label for="max">Max</label>
    <input type="number" class="form-control" name="max" step="any">
</div>
{% endmacro %}
{% macro start() %}
<div class="form-group col-6 col-md-4">
    <label for="date_issued">From</label>
    <input class="form-control" type="text" name="start_in" maxlength=16>
    <small class="form-text text-muted">dd.mm.yyyy hh:mm</small>
</div>
<input type="hidden" name="start">
{% endmacro %}
{% macro end() %}
<div class="form-group col-6 col-md-4">
    <label for="date_issued">Until</label>
    <input class="form-control" type="text" name="end_in" maxlength=16>
    <small class="form-text text-muted">dd.mm.yyyy hh:mm</small>
</div>
<input type="hidden" name="end">
{% endmacro %}
{% macro submit() %}
<div class="form-group col-6 col-md-4">
    <label for="filter" style="height: 1em;"></label>
    <button type="submit" name="filter"
        value="filter" class="form-control btn btn-primary">filter
    </button>
</div>
{% endmacro %}
{% macro records_filter(currencies, categories) %}
<form id="filter">
    <div class="form-row">
        {{ currency(currencies) }}
        {{ category(categories) }}
        {{ min() }}
        {{ max() }}
        {{ start() }}
        {{ end() }}
        {{ submit() }}
    </div>
</form>
<script src="{{ url_for('tables.static', filename='filter.js') }}"></script>
{% endmacro %}