{% extends "layout.j2" %}
{% import "trans_modal.j2" as trans_modal %}

{% block body %}
<h1 class="display-4">{{ agent.desc }}</h1>

<h2>Transactions</h2>
{% if agent.transactions|length != 0 %}
<table class="table table-hover">
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:30%">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th style="text-align: right;" scope="col">Amount</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for trans in agent.transactions|sort(attribute='date_issued') %}
        <tr>
            <td data-sort="{{ trans.date_issued.strftime('%Y%m%d%H%M%s') }}">
            {{ trans.date_issued.strftime('%d.%m.%Y') }}
            </td>
            <td>{{ trans.date_issued.strftime('%H:%M') }}</td>
            <td style="text-align: right;"  
                data-sort="{% if trans.is_expense %}{{ trans.amount }}{% else %}{{ -trans.amount }}{% endif %}"
                {% if trans.is_expense %}
                    class="text-danger"
                {% else %}
                    class="text-success"
                {% endif %}>
                {{ trans.currency.format(trans.amount) }} {{ trans.currency.code }}
            </td>
            <td>{{ trans.comment }}</td>
            <td style="width: 44px; padding: 0px;">
                <button type="button" class="btn btn-warning btn-lg toggler" style="height: 100%; width: 100%;"
                data-toggle="modal" data-target="#transModal" data-info="edit{{ trans.id }}" >
                    <i class="fa fa-pencil"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
No Transactions
{% endif %}


<h2>Flows</h2>
{% if agent.flows|length != 0 %}
<table class="table table-hover">
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:auto">
    <col style="width:30%">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th style="text-align: right;" scope="col">Amount</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for flow in agent.flows|sort(attribute='trans.date_issued') %}
        {% set trans = flow.trans %}
        <tr>
            <td data-sort="{{ trans.date_issued.strftime('%Y%m%d%H%M%s') }}">
                {{ trans.date_issued.strftime('%d.%m.%Y') }}
            </td>
            <td>{{ trans.date_issued.strftime('%H:%M') }}</td>
            <td style="text-align: right;"  
                data-sort="{% if flow.is_debt %}{{ flow.amount }}{% else %}{{ -flow.amount }}{% endif %}"
                {% if flow.is_debt %}
                    class="text-danger"
                {% else %}
                    class="text-success"
                {% endif %}>
                {{ trans.currency.format(flow.amount) }} {{ trans.currency.code }}
            </td>
            <td>{{ trans.comment }}</td>
            <td style="width: 44px; padding: 0px;">
                <button type="button" class="btn btn-warning btn-lg toggler" style="height: 100%; width: 100%;"
                    data-toggle="modal" data-target="#transModal" data-info="edit{{ trans.id }}" >
                    <i class="fa fa-pencil"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
No Flows
{% endif %}

{% include "trans_modal.j2" %}

{% endblock body %}