{% extends "layout.j2" %}
{% import "trans_modal.j2" as trans_modal %}
{% import "transfer_modal.j2" as transfer %}

{% macro data(account) %}
data-acc_desc="{{ account.desc }}" data-acc_id={{ account.id }}
data-curr_id={{ account.currency.id }} data-curr_dec={{ account.currency.decimals }}
{% endmacro %}

{% macro drop_goal(account) %}
ondragover="allow_drop_color(event, 'rgb(0, 170, 0, 0.5)')"
ondragleave="allow_drop_color(event, '')" ondrop="drop(event)"
{{ data(account) }}
{% endmacro %}

{% block body %}
<h1 class="display-3">Finnance</h1>

<a class="btn btn-primary btn-lg btn-block mb-3"
    href="{{ url_for('anal.analysis') }}">
    Analysis
</a>

<div class="row mb-3" id="all_accounts">
    {% for account in accounts %}
    <div class="col-2 col-lg-1 pb-1 acc{{account.id}}" {{ drop_goal(account) }}>
        <button class="btn btn-info btn-block text-white"
            draggable="true" ondragstart="drag(event)"
            {{ data(account) }}>
            <i class="fa fa-exchange" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col-4 col-lg-2 acc{{account.id}}" {{ drop_goal(account) }}
        onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
        {{ account.desc }}
    </div>
    <div class="col-4 col-lg-2 acc{{account.id}}" {{ drop_goal(account) }}
        onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
        {{ account.currency.code }} {{ account.saldo() }}
    </div>
    <div class="col-2 col-lg-1 acc{{account.id}}" {{ drop_goal(account) }}>
        <button class="btn btn-success btn-block toggler"
            data-toggle="modal"
            data-info="new{{ account.id }}" data-target="#transModal">+
        </button>
    </div>
    {% endfor %}
</div>

<button type="button" class="btn btn-success btn-lg mb-3 toggler"
    data-toggle="modal" data-target="#transModal" data-info="remote"
    style="height: 100%; width: 100%;">
    Remote
</button>

<button type="button" class="btn btn-primary btn-lg btn-block mb-3"
    data-toggle="modal" data-target="#accModal">
    Create Account
</button>

<button type="button" class="btn btn-primary btn-lg btn-block mb-3"
    data-toggle="modal" data-target="#catModal">
    Add Category
</button>

{% include "transfer_modal.j2" %}
{% include "trans_modal.j2" %}
{% include "account_modal.j2" %}
{% include "cat_modal.j2" %}

<script>
$('.row > div').hover(function () {
    let [_, acc_class] = get_div_class(this);
    $(`.${acc_class}`)
        .css('cursor', 'pointer')
        .addClass('bg-secondary');
}, function () {
    let [_, acc_class] = get_div_class(this);
    $(`.${acc_class}`).removeClass('bg-secondary');
});

function get_div_class(div) {
    while (div.tagName != "DIV") {
        div = div.parentNode;
    }
    let acc_class = "temp";
    for (let i in div.classList) {
        if (/^acc\d+$/.test(div.classList[i])) {
            acc_class = div.classList[i];
            break;
        }
    }
    return [div, acc_class];
}

function allow_drop_color(ev, col) {
    ev.preventDefault();
    let [div, acc_class] = get_div_class(ev.target);
    console.log(ev.dataTransfer.getData("text/plain"));
    $(`.${acc_class}`).css('background-color', col);
}

function drag(ev) {
    ev.dataTransfer.setData("text/plain", JSON.stringify(ev.target.dataset));
}

function drop(ev) {
    ev.preventDefault();
    let [div, acc_class] = get_div_class(ev.target);
    $(`.${acc_class}`).css('background-color', '');
    let src_data = JSON.parse(ev.dataTransfer.getData("text/plain"));
    let dst_data = JSON.parse(JSON.stringify(div.dataset));
    console.log(src_data, dst_data);
    openModal(src_data, dst_data);
}

function openModal(src, dst) {
    if (src.acc_id == dst.acc_id) {
        alert("Can't transfer to itself!");
    } else {
        $('#transferModal form').attr(
            'action',
            "{{ url_for('creation.add_transfer', src_id=-1, dst_id=0) }}".replace('-1', src.acc_id).replace('0', dst.acc_id)
        );
        $('#transferModal input[name=src_desc]').val(src.acc_desc);
        $('#transferModal input[name=dst_desc]').val(dst.acc_desc);
        update_currency('#transferModal input[name=src_amount', src.curr_dec, true);
        update_currency('#transferModal input[name=dst_amount', dst.curr_dec, true);
        if (src.curr_id == dst.curr_id) {
            $('#same_currency').show();
            $('input[name=dst_amount]').attr('readonly', true);
            $('.fa-lock').show();
            $('.fa-unlock').hide();
        } else {
            $('input[name=dst_amount]').attr('readonly', false);
            $('#same_currency').hide();
        }

        $('#transferModal').modal();
    }
}
</script>
{% endblock %}