{% import "load.j2" as custom %}
{% extends "layout.j2" %}

{% block body %}

<button type="button" class="btn btn-success btn-lg mb-3 mt-5 toggler"
    data-toggle="modal" data-target="#loginModal" style="height: 100%; width: 100%;">
    Login
</button>
<button type="button" class="btn btn-success btn-lg mb-3 toggler"
    data-toggle="modal" data-target="#registerModal" style="height: 100%; width: 100%;">
    Register
</button>

<div class="modal fade" data-backdrop="static" id="loginModal" tabindex="-1"
    role="dialog" aria-labelledby="loginLabel" aria-hidden>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if loginerr %}
                <div class="alert alert-danger" role="alert">
                    {{loginerr}}
                </div>
                {% endif %}
                {% if logininfo %}
                <div class="alert alert-info" role="alert">
                    {{logininfo}}
                </div>
                {% endif %}
                <form action="{{ url_for('main.login') }}" method="post">
                    <div class="form-group">
                        <label for="description">E-Mail / Username</label>
                        <input class="form-control" type="text" name="user" maxlength=64 required>
                    </div>
                    <div class="form-group">
                        <label for="starting_saldo">Password</label>
                        <input class="form-control" type="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" id="registerModal" tabindex="-1"
    role="dialog" aria-labelledby="registerLabel" aria-hidden>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerLabel">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if regerr %}
                <div class="alert alert-danger" role="alert">
                    {{regerr}}
                </div>
                {% endif %}
                <form action="{{ url_for('main.register') }}" method="post">
                    <div class="form-group">
                        <label for="description">E-Mail</label>
                        <input class="form-control" type="text" name="email" maxlength=64 required>
                    </div>
                    <div class="form-group">
                        <label for="description">Username</label>
                        <input class="form-control" type="text" name="username" maxlength=32 required>
                    </div>
                    <div class="form-group">
                        <label for="starting_saldo">Password</label>
                        <input class="form-control" type="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="starting_saldo">Repeat Password</label>
                        <input class="form-control" type="password" name="passwordRepeat" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
{% if loggingin %}
$(document).ready(function(){
    $("#loginModal").modal('show');
});
{% endif %}
{% if registering %}
$(document).ready(function(){
    $("#registerModal").modal('show');
});
{% endif %}
</script>
{% endblock %}