{% extends "layout.j2" %}
{% import "changes.j2" as change_macros %}
{% import "trans_modal.j2" as trans_modal %}

{% block body %}

<h1 class="display-3 h1-link" 
    onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
{{ account.desc }}
</h1>
<p class="lead">Started at: {{ account.date_created.strftime('%x') }} with {{ account.currency.code }} {{ account.starting() }},
Current Saldo: {{ saldo }}</p>

<table id="transtable" class="table table-sm table-hover" cellspacing="0" width="100%">
    {{ change_macros.head() }}
    <tbody>
        {{ change_macros.rows(changes, account) }}
    </tbody>
</table>

{{ trans_modal.modal(accounts, agents, categories, currencies) }}

<script>
$(document).ready(function () {
$('#transtable').DataTable({order: [[0, 'desc']]});
});
</script>
{% endblock %}