{% extends "layout.j2" %}
{% import "trans_modal.j2" as trans_modal %}
{% import "tables.j2" as tables %}

{% block body %}

<h1 class="display-3 h1-link" 
    onclick="document.location = `{{ url_for('main.account', account_id=account.id) }}`;">
{{ account.desc }}
</h1>
<p class="lead">Started at: {{ account.date_created.strftime('%x') }} with {{ account.currency.code }} {{ account.starting() }},
Current Saldo: {{ saldos[0] }}</p>

<div class="table-responsive">
<table id="transtable" class="table table-sm">
    {{ tables.changes_table(account, changes, saldos) }}
</table>
</div>

{% include "trans_modal.j2" %}

<script>
$(document).ready(function () {
    $('#transtable').DataTable({
        order: [[1, 'desc']], 
        columnDefs: [{ orderable: false, targets: 0 }]
    });
});
</script>
{% endblock %}