{% extends "layout.j2" %}
{% block body %}
<div class="display-4">Analysis Dashboard</div>
<div class="mb-2 row">
    <div class="col-10" id="legend">{% include "legend.j2" %}</div>
    <div class="form-group col-2">
        <label for="currency">Currency</label>
        <select class="form-control" name="currency">
        {% for curr in currencies %}
            <option value="{{ curr.id }}"
                data-decimals="{{ curr.decimals }}">{{ curr.code }}</option>
        {% endfor %}
        </select>
    </div>
</div>
<a href="{{ url_for('category.dashboard') }}" class="btn btn-block btn-primary mb-1">
edit categories
</a>
<div class="row tightrow bg-secondary">
    <div class="col-12 col-md-8 bg-light tightcol" id="divstackbars"></div>
    <div class="col-12 col-md-4 bg-light tightcol" id="sunburst"></div>
    <div class="col-12 col-md-4 bg-light tightcol" id="incexp"></div>
</div>
<script src="{{ url_for('anal.static', filename='js/sunburst.js') }}"></script>
<script src="{{ url_for('anal.static', filename='js/divstackbars.js') }}"></script>
<script src="{{ url_for('anal.static', filename='js/scatter.js') }}"></script>
<script>
function load() {
    const curr_id = $('select[name=currency]').val();
    let conts = ['#sunburst', '#divstackbars', '#incexp'];
    for (let i in conts)
        $(conts[i]).html("");
    
    d3.json("{{ url_for('anal_api.sunburst_expenses', curr_id=0) }}".replace(0, curr_id))
        .then((data) => sunburst(data, '#sunburst'));
    d3.json("{{ url_for('anal_api.divstackbars', curr_id=0) }}".replace(0, curr_id))
        .then((data) => divstackbars(data, '#divstackbars'));
    d3.json("{{ url_for('anal_api.inc_vs_exp', curr_id=0) }}".replace(0, curr_id))
        .then((data) => scatter(data, '#incexp'));
}
load();
$('select[name=currency]').on('change', load);
</script>
{% endblock %}