{% extends "layout.j2" %}
{% block body %}

<div class="display-4 mb-3">Monthly Overview</div>
<div class="row">
    <div class="col-10 mb-2" id="legend">{% include "legend.j2" %}</div>
    <div class="form-group col-2">
        <label for="currency">Currency</label>
        <select class="form-control" name="currency">
        {% for curr in currencies %}
            <option value="{{ curr.id }}"
                data-decimals="{{ curr.decimals }}">{{ curr.code }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-6" id="stairs"></div>
    <div class="col-6" id="sunburst"></div>
</div>
<script src="{{ url_for('anal.static', filename='js/stairs.js') }}"></script>

<script src="{{ url_for('anal.static', filename='js/sunburst.js') }}"></script>
<script>
function load() {
    const curr_id = $('select[name=currency]').val();
    let conts = ['#sunburst', '#stairs'];
    for (let i in conts)
        $(conts[i]).html("");
    
    d3.json(`{{ url_for('anal_api.stairs') }}?{{ query }}&currency_id=${curr_id}`)
        .then((data) => stairs(data, '#stairs'));
    d3.json(`{{ url_for('anal_api.sunburst') }}?{{ query }}&currency_id=${curr_id}`)
        .then((data) => sunburst(data, '#sunburst'));
}
load();
$('select[name=currency]').on('change', load);
</script>
{% endblock body %}